:host {
    // align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-inline: var(--layout-padding);
    padding-block-start: var(--layout-padding);

    ::after {
        backdrop-filter: blur(2px);
        background-color: color-mix(in srgb, var(--gray-1000) 5%, transparent);
        content: '';
        height: 100vh;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: opacity 0.3s ease;
        visibility: hidden;
        width: 100vw;
        z-index: 50;
    }
}
